body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
}

/* HEADINGS */

.header_main {    
    font-size: 50px;
    font-weight: normal;
    color: white;
}

.header_secondary {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.header_sub-header {
    font-size: 21px;
    color: gray;
}

/* LINKS */

.link {
    font-size: 16px;
    color: aquamarine;
}

/* FOOTER */

.footer_copyright {
    font-size: 21px;
    text-align: right;
    color: gray;
}